* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  color: cadetblue;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

main {
  flex: 1;
  display: flex;
  width: 100%;
  background-color: white;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  visibility: hidden;
  transition: all ease-in 300ms;
  /* 아..여기에 flex: 1줘서 계속 width값 안바뀌었다,, */
  /* flex: flex-grow flex-shrink flex-basis */
}

.header {
  height: 50px;
  font-size: 32px;
  color: white;
  background-color: thistle;
}

.header__logo {
  font-size: 32px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.options {
  margin: 10px 0;
  text-align: center;
}

.options button {
  outline: none;
  border: none;
  border-radius: 6px;
  color: darkgrey;
  padding: 6px 8px;
  margin: 0 10px;
  font-size: 0.875rem;
  font-weight: 600;
}

.options__btn {
  background-color: orange;
  border: 0;
  color: white;
}

.todos__header {
  font-size: 1.4rem;
  color: cadetblue;
  font-weight: 400;
}

.todos {
  width: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* todo는 기본적으로 width:0, 보이지 않음 */
  visibility: hidden;
  transition: all ease-in 300ms;
  /* opacity:0은 dom요소로 존재하고 이벤트(클릭)가능. */
  /* visibility: hidden은 dom요소로 존재, 이벤트(클릭)불가. */
  /* display: none은 애니메이션 발생하지 않음.. */
  /* 그래서 visibility hidden이 유용한 경우가 많음 */
}

.todos__items {
  flex-grow: 1;
  width: 100%;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}

.todos__item {
  color: darkslategray;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  margin-bottom: 6px;
}

.todos__name {
  height: 36px;
  line-height: 36px;
}

.todos__delete {
  border: none;
  background-color: none;
}

.fa-trash {
  color: tomato;
}

.todos__input {
  width: 100%;
  border: 0;
  outline: 0;
}

.todos__btn-container {
  padding: 5px 0;
}

.todos__btn {
  background-image: url(assets/icon/addIc.svg);
  background-color: white;
  border-radius: 50%;

  width: 24px;
  height: 24px;
  cursor: pointer;
}

.todos__input {
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.footer {
  color: white;
  line-height: 50px;
  color: white;
  background-color: cadetblue;
  text-align: center;
}

.open {
  visibility: visible;
  width: 100%;
  transition: auto;
}
