html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 3rem;
}

input {
  outline: none;
  padding: 4px 10px;
  color: grey;
  border: solid 2px cornflowerblue;
  font-size: 1rem;
  border-radius: 1rem;
  width: 4rem;
  margin: 1rem 0.8rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: solid 1px lightgrey;
  width: 600px;
  height: 400px;
  box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 3%);
}

/* dateInput 영역 */

/* 오늘버튼 */
#dateInput button {
  width: 8rem;
  margin: 6px auto 20px;
  color: white;
  border: none;
  background: cornflowerblue;
  padding: 0.5rem 2rem;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 14%);
  display: block;
}

.inputWrapper {
  color: grey;
  font-size: 0.875erm;
}

.result {
  width: 100%;
  margin: 4px 0;
}

h2 {
  font-size: 30px;
  color: cornflowerblue;
  font-weight: 700;
}

.centerLine {
  width: 100%;
  background-color: whitesmoke;
  color: cornflowerblue;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.text__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.centerLine {
  font-weight: 600;
  font-weight: 14px;
  padding: 4px;
}

#footer {
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  font-size: 0.75rem;
  padding: 8px;
}
