* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0 0 0 / 3%);
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: white;
  border: none;
}

nav {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  background-color: none;
}

.nav__right-box {
  display: flex;
  align-items: center;
  width: 15rem;
  justify-content: space-between;
}

.nav__search {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nav__search:hover {
  background-color: #bce4d7;
  border-radius: 50%;
  transition: ease-in 300ms;
}

.nav__my-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav__profile-img {
  width: 2.5rem;
  outline: none;
  border: none;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  background-image: url("./static/Wkd.jpg");
}

.nav__post-btn {
  cursor: pointer;
  border: solid 1px rgb(52, 58, 64);
  border-radius: 1rem;
  padding: 6px 12px;
  color: black;
  background: white;
}

.nav__post-btn:hover {
  background-color: #4fe5b3;
  border-color: #4fe5b3;
  color: white;
  font-weight: 500;
  transition: all ease-in-out 300ms;
}

main {
  padding: 0 1rem;
}

/* tab */

tab {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab__left-box {
  display: flex;
  align-items: center;
}

.tab__trending {
  cursor: pointer;
  display: flex;
  width: 6rem;
  height: 3rem;
  color: rgb(134, 142, 150);
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-weight: 600;
}

.active {
  color: rgb(52, 58, 64);
  border-bottom: solid 2px rgb(52, 58, 64);
}

.tab__trending svg {
  margin-right: 1rem;
}

.tab__dropdown {
  position: relative;

  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 6px;
  padding: 6px;
  color: black;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
  background: white;
  height: 2rem;
  width: 5.25rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.tab__dropdown > a {
  display: flex;
  align-items: center;
}

.tab__dropdown:hover {
  color: rgb(75, 80, 84);
}

.tab__dropList {
  visibility: hidden;

  margin: 0.5rem 0 0 0;
  position: absolute;
  text-align: initial;
  left: 0;
  top: 100%;
  line-height: 2rem;
  background-color: white;
  border-radius: 0.3rem;
  font-size: 0.875rem;
  padding: 0;
  z-index: 3;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.tab__dropList > li {
  width: 8rem;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.tab__dropList > li:hover {
  background: whitesmoke;
  color: #4fe5b3;
}

.tab__kebab {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.tab__kebab {
  background: none;
}

/* 포스트카드 */

.main__post-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}

.main__post-thumbnail {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__desc-box {
  display: flex;
  padding: 0.8rem 1rem 0rem 1rem;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .main__postcard {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    margin: 1rem;
    width: 100%;
  }

  .main__desc-box {
    height: 18rem;
  }

  .main__img-box {
    display: flex;
    height: 16rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 911px) {
  .main__postcard {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    margin: 1rem;
    width: calc(50% - 2rem);
  }

  .main__img-box {
    display: flex;
    height: 12rem;
  }
}

@media screen and (min-width: 912px) {
  .main__postcard {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    margin: 1rem;
    width: 20rem;
  }

  .main__img-box {
    height: 10rem;
  }
}

.main__postcard:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: rgb(0 0 0 / 8%) 0rem 0.75rem 1.25rem 0rem;
}

.main__post-title {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.main__post-content {
  line-height: 1.5;
  font-size: 0.875rem;
  color: rgb(75, 80, 84);
}

.main__post-date {
  margin: 1rem 0 0.8rem 0;
  font-size: 0.75rem;
  color: rgb(134, 142, 150);
}

.main__card-bottom {
  display: flex;
  border-top: solid 1px #ccc;
  padding: 4px 0;
  color: grey;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}

.main__auth-profile-box {
  display: flex;
  align-items: center;
}

.main__profile {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.main__like-btn {
  display: flex;
  align-items: center;
}

.modal-back {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  background-color: #4fe5b3;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 50%;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
}

.modal-hidden {
  display: none;
}
